@font-face {
    font-family: 'Poppins';
    src:  url(../font/poopins/Poppins-Light.ttf),
    url(../font/poopins/Poppins-ExtraLight.ttf);
}

@font-face{
    font-family: 'Permanent Marker';
    src: url(../font/permanent-marker/PermanentMarker-Regular.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #FFFFFF;
}

header {
    position: fixed;
    width: 100%;
    background: #020202;
    padding: 33px 65px;
    font-family: 'Poppins';
    z-index: 1;
}

nav{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
}

.toggle {
    display: none;
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    gap: 55px;
    text-decoration: none;
}

.menu a{
    text-decoration: none;
    font-size: 16px;
}

.menu a:hover{
    text-decoration: underline #FFB800;
}

#home{
    background-color: #020202;
    padding-top: 217px;
    display: grid;
    grid-template-columns: 6% 94%;
    height: 800px;
}

.socialmedia-scroll{
    display: flex;
    flex-direction: column;
    margin-left: 60px;
    text-align: center;
}

.home-socialmedia{
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.home-socialmedia img{
    width: 25px;
    height: 25px;
}

.home-scroll{
    margin-top: 25px;
}

.home-line-scroll{
    border: 1px solid #FFFFFF;
    transform: rotate(90deg);
    width: 70px;
    height: 0px;
    position: relative;
    top: 38px;
    right: 22px;
}

.home-text-scroll{
    font-size: 12px;
    font-family: 'Poppins';
    transform: rotate(-90deg);
    width: 109px;
    height: 18px;
    position: relative;
    top: 130px;
    right: 42px;
}

.home-container{
    text-align: center;
    padding-right: 65px;
}

.home-container img{
    width: 250px;
    height: 250px;
}

.home-container h1{
    font-family: 'Permanent Marker';
    font-size: 36px;
    color: #FFB800;
    margin-top: 24px;
}

.home-container p{
    font-size: 24px;
    font-family: 'Poppins';
    margin-top: 4px;
}
@media only screen and (max-width: 1920px){
    #home{
        grid-template-columns: 4.5% 95.5%;
    }

    .menu a{
        font-size: 20px;
    }

    .home-container img {
        width: 300px;
        height: 300px;
    }

    .home-container h1{
        font-size: 46px;
    }

    .home-container p {
        font-size: 30px;
    }

    .home-socialmedia img{
        width: 30px;
        height: 30px;
    }

    .home-text-scroll{
        font-size: 15px;
    }
}
@media only screen and (max-width: 1440px){
    #home{
        grid-template-columns: 6% 94%;
    }

    .menu a{
        font-size: 16px;
    }

    .home-container img {
        width: 250px;
        height: 250px;
    }

    .home-container h1{
        font-size: 36px;
    }

    .home-container p {
        font-size: 24px;
    }

    .home-socialmedia img{
        width: 25px;
        height: 25px;
    }

    .home-text-scroll{
        font-size: 12px;
    }
}

@media only screen and (max-width: 1367px){
    #home{
        grid-template-columns: 6.5% 93.5%;
        height: 760px;
    }

    .menu a{
        font-size: 14px;
    }

    .home-container img {
        width: 220px;
        height: 220px;
    }

    .home-container h1{
        font-size: 32px;
    }

    .home-container p {
        font-size: 22px;
    }

    .home-socialmedia img{
        width: 22px;
        height: 22px;
    }

    .home-text-scroll{
        font-size: 11px;
        right: 41px;
    }     
}

@media only screen and (max-width: 1116px){
    #home{
        padding-top: 190px;
        height: 720px;
        grid-template-columns: 6% 94%;
    }

    header{
        padding: 25px 35px;
    }
    
    .menu{
        gap: 40px;
    }

    .socialmedia-scroll{
        margin-left: 45px;
    }

    .home-container img {
        width: 200px;
        height: 200px;
    }

    .home-container h1 {
        font-size: 28px;
        margin-top: 12px;
    }

    .home-container p {
        font-size: 18px;
    }

    .home-socialmedia img {
        width: 20px;
        height: 20px;
    }

    .home-text-scroll{
        font-size: 9px;
    }

    .home-line-scroll {
        right: 25px;
    }
}

@media only screen and (max-width: 768px) {
    header{
        padding: 20px;
    }
    .toggle{
        display: block;
        color: #FFFFFF;
        cursor: pointer;
        position: relative;
        z-index: 20;
        font-size: 24px;
    }

    .ouvrir {
        display: block;
    }

    .fermer {
        display: none;
    }

    .open .ouvrir {
        display: none;
    }

    .open .fermer {
        display: block;
    }

    .menu{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background: #020202;
        flex-direction: column;
        padding: 2rem;
        justify-content: space-around;
        transform: translateX(-100%);
    }

    .open .menu {
        transform: translateX(0);
    }


    #home{
        height: 655px;
    }
    .home-container img {
        width: 150px;
        height: 150px;
    }

    .home-container h1{
        font-size: 20px;
    }

    .home-container p {
        font-size: 14px;
    }

    .home-socialmedia img {
        width: 15px;
        height: 15px;
    }

    .socialmedia-scroll {
        margin-left: 24px;
    }
}

@media only screen and (max-width: 568px){
    .home-container {
        padding-right: 45px;
    }

    .socialmedia-scroll {
        margin-left: 18px;
    }

    .home-socialmedia {
        gap: 22px;
    }

    .menu a {
        font-size: 12px;
    }
}

@media only screen and (max-width: 420px){
    .home-container img {
        width: 100px;
        height: 100px;
    }

    .home-container h1 {
        font-size: 16px;
    }

    .home-container p {
        font-size: 12px;
    }

    .home-container {
        padding-right: 0px;
    }

    .socialmedia-scroll {
        margin-left: 10px;
    }

    header {
        padding: 10px;
    }

    #home {
        padding-top: 115px;
        height: 470px;
    }

    .home-socialmedia {
        gap: 15px;
    }

    .toggle{
        font-size: 20px;
    }
}