@font-face{
    font-family: 'Permanent Marker';
    src: url(../font/permanent-marker/PermanentMarker-Regular.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #FFFFFF;
}

#work{
    background: #020202;
    padding: 88px 258px 89px 258px;
}

.title-line{
    display: flex;
    justify-content: center;
    gap: 27px;
    align-items: center;
    margin-bottom: 14px;
}

.title-line h1{
    font-family: 'Poppins';
    font-size: 24px;
}

.title-line img{
    width: 70px;
    height: 3px;
}

.work-link {
    gap: 40px;
    display: flex;
    justify-content: center;
}

.work-link a{
    font-family: 'Poppins';
    font-size: 16px;
    text-decoration: none;
}

.work-link a:hover{
    text-decoration: underline#FFB800;
}

.work-grid {
    margin-top: 50px;
    margin-bottom: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 39px;
    row-gap: 29px;
}

.work-grid img{
    width: 100%;
}

.point-link{
    display: flex;
    gap: 15px;
    justify-content: center;
}

.point-link a{
    text-decoration: none;
    font-style: normal;
    font-size: 38px;
}

.point-link a:hover{
    color: #FFB800;
}

.work-image-add{
    position: relative;
}

.work-image-add button{
    font-size: 65px;
    color: #020202;
    border: none;
    background: none;
}

.work-button-add{
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media only screen and (max-width: 1920px){
    #work {
        padding: 115px 308px 115px 308px;
    }

    .title-line h1 {
        font-size: 32px;
    }

    .work-link a {
        font-size: 20px;
    }

    .point-link a{
        font-size: 50px;
    }

    .work-image-add button{
        font-size: 90px;
    }

    .work-grid{
        column-gap: 56px;
        row-gap: 42px;
    }
}

@media only screen and (max-width: 1621px){
    #work {
        padding: 115px 272px 115px 272px;
    }
}

@media only screen and (max-width: 1440px){
    #work {
        padding: 88px 258px 89px 258px;
    }

    .title-line h1 {
        font-size: 24px;
    }

    .work-link a {
        font-size: 16px;
    }

    .point-link a{
        font-size: 38px;
    }

    .work-image-add button{
        font-size: 65px;
    }

    .work-grid{
        column-gap: 39px;
        row-gap: 29px;
    }
}

@media only screen and (max-width: 1367px){
    .title-line h1 {
        font-size: 20px;
    }

    .work-link a {
        font-size: 14px;
    }
}

@media only screen and (max-width: 1116px){
    #work {
        padding: 88px 174px 88px 174px;
    }
}

@media only screen and (max-width: 1250px){
    #work {
        padding: 60px 168px 60px 165px;
    }
}

@media only screen and (max-width: 992px){
    #work {
        padding: 60px 80px 60px 80px;
    }

    .title-line h1 {
        font-size: 17px;
    }

    .work-link a {
        font-size: 11px;
    }

    .work-link {
        gap: 26px;
    }

    .work-grid {
        column-gap: 28px;
        row-gap: 22px;        
        margin-top: 35px;
        margin-bottom: 16px;
    }

    .point-link a {
        font-size: 25px;
    }
}

@media only screen and (max-width: 768px){
    #work {
        padding: 60px 30px 60px 30px;
    }
}

@media only screen and (max-width: 577px){
    .work-grid{
        grid-template-columns: 1fr 1fr;
        column-gap: 18px;
        row-gap: 15px;
    }
}

@media only screen and (max-width: 420px){
    #work {
        padding: 40px 20px 40px 20px;
    }

    .work-link {
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .title-line{
        gap: 14px;
    }
}